body {
    background-color: rgb(103, 102, 144);
}
.dashboard {

    margin-top: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard iframe {

    border: solid 7.5px black;
    border-radius: 15px ;
    align-items: center;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    border: solid 5px black;
    background-color: rgb(47, 49, 177);
    padding-top: 15px;
    padding-bottom: 10px;

}

.info-box {

    margin-left: 10px;
    margin-right: 10px;
    height: 725px;
    border: 7.5px solid black;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.info-box h2 {

    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.info-box p {

    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    font-size: 25px;
}

.btn {
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: black;
    color: whitesmoke;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  

  
.btn:hover {
    background-color: green;
    transition: 0.5s ease-in-out;
  }
  
  