/* This CSS file contains the CSS for styling the About page of the website which is the About_Page.html file. */

/* Inside the body{} there is CSS styling to add a background image to the webpage with the url of the background image inside the url().
The CSS properties used for the background image are background-repeat which is set to no-repeat and background-size which is set to cover.
No-repeat for background-repeat means the background image will not repeat and the cover for background-size ensures the background image covers the 
web page. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {

  background-image: url('team_blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* The .box-area{} contains CSS styling for the div tag with the class box-area. The display is set
to flex to give a flexbox layout and the justify-content property is set to center for the browser 
to distribute space around the content. */

.box-area {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* The .single-box{} contains CSS styling for the div tag with the class single-box. Many CSS styling 
properties are used to style the boxes which hold the content of the About page. */

.single-box {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  border-radius: 7px;
  border: 3px solid rgb(29, 28, 28);
  background-color: whitesmoke;
  text-align: center;
  margin: 35px;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
  transition: .3s;
  margin-top: auto;
}

/* The .img-area{} contains CSS styling for the div tag with the class img-area. Many CSS styling 
properties are used to style the images displayed above the text in the boxes on the web page. */

.img-area {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 260px;
  border: 3px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 20px;
  background-size: cover;
  background-position: center center;

}

/* The nth-child() pseudo-class is used to style the div tags with the class .single-box. 
Each nth child, 1, 2 and 3 has a different background image so that each box on the webpage 
will have a different background image relavent to the description of content provided in 
the boxes. To do this the CSS background-image property is used. */ 

.single-box:nth-child(1) .img-area {

  background-image: url('data_1.jpg');

}

.single-box:nth-child(2) .img-area {

  background-image: url('visualisation.jpg');

}

.single-box:nth-child(3) .img-area {

  background-image: url('guidance.jpg');

}

/* The .header-text{} contains CSS styling for the div tag with the class header-text{}. 
The header-text acts as the header for each box making it clear to the user what the boxes 
description is about. Font properties are set to make the text stand out and the line-height
is set to 40px to space it out from other elements in the web page. */

.header-text {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  
}

/* The .img-text{} contains CSS styling for the div tag with the class img-text. */

.img-text {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
}

/* The .img-text p{} contains CSS styling specifically for the p tag within the div tag with
the class img-text. As the p tags contain a substanial amount of text they are styled accordingly
so that the text can be easily seen and read by the user on the web page. */

.img-text p {

  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  line-height: 40px;
  padding-top: 10px;
  text-align: justify;
  letter-spacing: 0.0020em

}

/* The nth-child():hover pesudo-class is used to style the div tags with the class .single-box.
The .single-box:hover is styled so that when the user hovers over the boxes, they are highlighted 
with a certain color. Three separate colors are set for the three separate boxes. This is to make 
them stand out and make the web page look more aesthetically pleasing. */

.single-box:hover:nth-child(1) {

  background: lightskyblue;
  transition: 0.5s ease-in-out;
}

.single-box:hover:nth-child(2) {

  background: coral;
  transition: 0.5s ease-in-out;
}

.single-box:hover:nth-child(3) {

  background: lightgreen;
  transition: 0.5s ease-in-out;
}
