/*This CSS file contains the CSS for styling the Databases page of the website which is the Databases.html file. */

/* The body{} is styled with the CSS background-color property and this sets the background color on the web page. */

body {

    background-color: rgb(36, 35, 35);
}

/* The h1{} contains CSS styling for the h1 tag. As the h1 tag acts as the 
header the web page, the CSS styling properties are set to make it stand out 
and the text is aligned to the center of the web page. */

h1 {

    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 110px;
    font-weight:600;
    font-family:Arial;
}

/* The h3{} contains CSS styling for the h3 tag which contains a short
description on what the web page contains in regards to the buttons which
link to the database table pages. CSS styling properties are used to make 
the text stand out, also text is aligned to the center of the web page. */

h3 {

    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
    font-family:Verdana;
    font-weight:400;
}

/* The .button_container{} contains CSS styling for the div tag with the class
button-container. The CSS styling properties set the position and margin of the
two buttons displayed on the web page. */ 

.button-container {

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    margin-top: -35px;
    text-align: center;
}

/* The .btn{} contains CSS styling for the div tag with the class btn. */ 

.btn {

    border: none;
    margin: 40px;
    padding: 25px;
    width: 350px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    cursor: pointer;
}

/* The .btn1{} and btn2{} contain CSS styling for the Virus Database button 
and the Protein Database button. CSS styling properties are set to make the 
buttons look aesthetically pleasing on the web page. The CSS background-image
property is used for both .btn1{} and btn2{} to create a contrast of colour 
effect on the buttons to make them stand out on the web page. */   

.btn1 {
    color: black;
    background-image: linear-gradient(to left,#f6e58d,#f9ca24,#f0932b);
    border: 2px solid black;
    font-weight: bold;
    
}

.btn2 {

    color: black;
    background-image: linear-gradient(to left,#c7ecee,#7ed6df,#22a6b3);
    border: 2px solid black;
    font-weight: bold;

}

/* The .btn:hover{} contains one CSS styling property. That CSS styling property
changes the text color when the user hovers over the button. */

.btn:hover {

    color: white;
}
