/* This CSS file contains the CSS for styling the Home page of the website which is the index.html file. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
s
html,body {
  min-width: 100%;
  min-height: 100%;
}

/* Inside the body {} there is CSS styling to add a background image to the webpage with the URL of the background image inside the url().
The CSS properties used for the background image are background-repeat which is set to no-repeat and background-size which is set to cover.
No repeat for background-repeat means the background image will not repeat and the cover for background-size ensures the background image 
covers the web page. */

body {
    background-image: url(virus_blur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* The .center {} contains quite a few CSS properties all of which are for styling the div tag with the class center
in the index.html file which is the HTML file for the home page. The CSS protperties set the font-size of the text in the center class
as well as the font-family. Other CSS properties include the text-decoration which is set to overline underline which gives the text a bold presence
on the webpage and makes it stand out. The text-align:center; aligns the text to the center of the page and the margin-top sets the margin that the text
has from the top of the web page to 120px. */

.center {

    color: whitesmoke;
    text-align: center;
    display: block;
    margin-top: 120px;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline underline;
    text-decoration-style: solid;	
}

/* The styling for .paragraph_1{} is CSS styling for the text that goes below the text of the .center{} class.
The color of the text is kept the same as that in .center{}. The text is aligned in the center and the the font size is set
to an appropiate size as this is the description of the webiste so needs to be smaller than the font size of the text of the .center{} class.
The font-weight property is set to bold for the text to stand out on the webpage. Margin-top has been set to 25px to leave some space with the text above
and the line-height property is set to 55px to put some space between the lines of text. */

.paragraph_1 {

  color: whitesmoke;
	text-align: center;
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: italic;
	font-size: 35px;
	font-weight: bold;
	margin-top: 25px;
	line-height: 55px;
}

/* The .read_more{} styling has two CSS styling properties, one to align the text in the button to the center and
the other to adjust the margin-top to 30px. */

.read_more {

  text-align: center;
  margin-top: 30px;
  
}

/* The .read_more button{} is where the main styling for the Read More button takes place. There are quite a few 
CSS styling properties, the background-color property is set to white, giving the button a white background color
when it's displayed on the webpage. The color property sets the color of the text inside the button to black. The 
font-weight is set to bold for the text inside the button to stand out to prompt the user to click the button if 
they wish to Read More. The width and height styling properties are used to set the width and height of the 
button and setting the border-radius at 12px gives an aesthetically pleasing curved border to the button. */

.read_more button {

	cursor: pointer;
	background-color: white;
	color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 12px;
	width: 215px;
  height: 45px;


}

/* The styling in .read_more button:hover{} controls what occurs when the user hovers over the button. The two CSS
styling properties are the color of the text when the user hovers over the button which is set to teal giving a nice 
contrast to the white background of the button and the transition property is set at 1s ease-in-out to very slighty 
delay and ease the apperance of the teal color when hovering over the button. */ 

.read_more button:hover {

  color: teal;
  transition: 1s ease-in-out;
  
}

