/* This file contains all the CSS styling for the navigation menu which is displayed top of each page 
in the website except the Protein Viewer page. */

/* The *{} contains CSS properties for margin and padding which are both set to 0.
This means the navigation menu will be displayed right at the top of the webpage with 
no margin or padding leaving no whitespace from the navigation menu to the top of the
web page. */

* {

    margin: 0;
    padding: 0;
}

/* Inside the nav{} the background color of the navigation menu is set so that 
it can be clearly distinguished from other elements in the web page. */

nav {

    background: #2f948d;
}

/* The nav ul{} contains CSS styling properties controlling the positioning and style of 
the navigation menu list. */

nav ul {

    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}

/* Each navigation menu list item is styled the same and given a font size of 25px */
/* The nav ul li:hover contains CSS styling properties for when the user hovers over items
in the navigation menu. */ 

nav ul li {

    padding: 15px 20px;
}

nav ul li a {

    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li:hover {

    background-color: black;
    transition: 0.5s;
    cursor: pointer;
    border-radius:10px;
}

/* The media query is used so that the navigation menu has responsive design so that it
is accessible on different devices, for e.g. to users who want to access the website through 
their mobile phone. */

@media only screen and (max-width:1000px) {

    nav ul {
        height: 500px;
        flex-direction: column;
        text-align: center;
    }

}

/* The a.active,a:hover{} contains CSS styling properties so that in the navigation bar, the 
name of the web page that the user is on remains active so that the user knows what web page 
there on so they can easily switch to another web page of the website if they wish to do so. */

a.active,a:hover{
    background-color:none;
    color:orange;	
    border-radius:5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
