/*build the webpage structure for protein.html*/

/*the font style in webpage body part*/
body {
         font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*the position,font size,font color,button size and background color for the return to home button */
.btn{
	position: absolute;
	margin-top: 30px;
	margin-left: 30px;
        font-size:30px;
        width: 200px;
        height: 80px;
        background-color:teal;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
}
/*the position,font size,font color,button size and background color for help button */
.but{
	position: absolute;
	margin-top: 138px;
	margin-left:-80px;
        font-size:20px;
        width: 80px;
        height: 20px;
        background-color:yellow;
        color:black;
        font-weight: bold;
        font-family: sans-serif;
        
}
/*the position,font size,font color,button size and background color for 7 buttons under the iCn3D widgets, respectively. from .but0 to .but6 */
.but0{
	position: absolute;
	margin-top: 400px;
	margin-left:-1430px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but1{
	position: absolute;
	margin-top: 400px;
	margin-left: -880px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but2{
	position: absolute;
	margin-top: 400px;
	margin-left: -330px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but3{
	position: absolute;
	margin-top: 830px;
	margin-left:-1430px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but4{
	position: absolute;
	margin-top: 830px;
	margin-left: -880px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but5{
	position: absolute;
	margin-top: 830px;
	margin-left: -330px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}
.but6{
	position: absolute;
	margin-top: 1260px;
	margin-left:-1430px;
        font-size:20px;
        width: 100px;
        height: 20px;
        background-color:black;
        color:whitesmoke;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 50px;
}

/*add the background image, decide the size, no-repeat style and position*/
header {
    background-image: url(find.jpg);
    background-size:800px;
    background-repeat:no-repeat;
    width: 1915px;
    height: 1000px;
    text-align: center;
    margin: 0 auto;
}
/*the font size and position for title*/
#title {
    display: inline-block;
    font-size: 52px;
    padding-top: 30px;
    width: 960px;
}
/*the font size and position for the description under title*/
#titlebottom {
    display: inline-block;
    box-sizing: border-box;
    width: 960px;
    font-size: 20px;
    padding: 50px 50px 100px 50px;
}
/*the order and relative position for iCn3D widgets*/
.protein {
          float:left; 
          padding: 20px;
          margin: 50px;
}
/*add a black image as the background for iCn3D widgets, design the size, a border and the font size and color for the "protein structure" title */
#protein {
    display: inline-block;
    color:white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    background-image: url(black.jpg);
    width: 1650px;
    height: 1330px;
}
/*the style, color, order and position for 12 data source links*/
ul1{
    position: absolute;
    margin-left:1150px;
    margin-top:960px;
    display:flex;
    flex-direction: column;
  }
  
  ul1 li{
    list-style:decimal;
    color: #4D4DFF; 
  }
  
/*the font size and position for data source text*/  
#data {
    font-size: 30px;
    position: absolute;
    margin-left:700px;
    margin-top:1050px;
}


