/*This CSS file contains the CSS for styling the Information Sources page of the website which is the references.html file. */

/* The body{} is styled with the CSS background-color property and this sets the background color on the web page. */

body {

   background-color: rgb(27, 22, 22);
}

.all {

    text-align: center;
    margin: auto;
    overflow: hidden;
}

/* The h2{} contains the CSS styling for the h2 tag which acts as the header of the web page. 
The text is aligned at the center of the web page and the text color is set to whitesmoke.
The margin-top is set accrodingly and the font-size is set to 60px to make the text suitably
large to give it that header effect. */

h2 {

    text-align: center;
    color: whitesmoke;
    margin-top: 75px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* The .source{} contains the CSS styling for the div tag with the class source. 
The CSS styling used positions all the icons and the text underneath those icons 
so that they are displayed neatly on the web page. */

.source {

    margin-top: 80px;
    text-align: center;
    width: 450px;
    height: 400px;
    display: inline-block;
    padding: 20px;
   
}

/* The .source h1{} contains CSS styling specifically for the h1 tag within the div tag 
with the class source. This is styling for the subsection headers which contain the icon 
and the links undernearth relavent to the h1 tags. */ 

.source h1 {

    color: whitesmoke;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

/* The .source p{} contains CSS styling specifically for the p tags within the div tag
with the class source. The p tags contain the a tags which contain the links to the
external resources. */

.source p {
    	
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: whitesmoke;
    padding: 20px;
}

/* The source:hover{} contains CSS styling so that when the user hovers over the contents within
the div tags with the class source the backgroud is highlighted with the color set in the CSS 
background property. */

.source:hover {

    background:rgb(70, 136, 136);
    transition: .5s ease-in-out;
}

/* The a, a:visited, a:hover, a:active{} is to stop the links changing color once they have
already been clicked once. */ 

a, a:visited, a:hover, a:active {
    color: whitesmoke;
  }
