/*This CSS file contains the CSS for styling the Statistics page of the website which is the Statistics.html file. */

/* The background-color for the contents of the body tag is set in body{}. */

body {
    background-color: rgb(103, 102, 144);
}

/* The .header{} contains styling for the contents of the div tag with the class header. 
There are quite a few CSS styling properties set to make the header look aesthetically
pleasing and stand out. The text is aligned to the center and the margins top, left and 
right are set to position the text in an appropiate place on the web page. As this text 
will act as a header for the contents on the Statistics page, border styling property is
used along with the background-color to make the text stand out and give it a border to
contain it within. */

.header {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  border: solid 5px black;
  background-color: rgb(47, 49, 177);
  padding-top: 15px;
  padding-bottom: 10px;

}


html {

    font-size: 15px;
}

/* The .dashboard{} styling contains 3 CSS styling properties which all control 
margins, specifically margins from the top,left and right. These are set accrodindly 
to position the iframe in the web page. */

.dashboard {

    margin-top: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* The styling for .dashboard iframe{} contains CSS styling giving the iframe a border,
a border radius and aligning the iframe to the center of the web page. This helps the 
iframe stand out within the web page and makes it more appealing to view on the web page. */

.dashboard iframe {

    border: solid 7.5px black;
    border-radius: 15px ;
    align-items: center;
}

/* The .info-box{} contains styling for the div tag with class info-box. Different CSS
styling properties are used to set a border for the info-box which contains information 
on why data and statistics help us track the virus. */

.info-box {

    margin-left: 10px;
    margin-right: 10px;
    border: 7.5px solid black;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

/* The .info-box h2{} contains CSS styling properties specifically for the h2 tag inside the div tag
with the class info-box. This acts as the header for the description text in the p tag. The CSS styling 
properties used include aligning the text to the center of the web page along with setting the margin-top 
accrodingly. */ 

.info-box h2 {

    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* The .info-box p{} contains CSS styling properties specifically for the p tag inside the div tag
with the class info-box. The p tag contains the text explaining why data and statistics help us 
track the virus. The CSS styling properties used are to make the text clearly visible to the user
which is why line-height is set to 50px so that there is appropiate spacing between the lines of text. 
Margins left and right are also adjusted accrodingly as well as the font-size of the text. */ 

.info-box p {

    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size:25px;
   
}

/* The .btn{} contains all the styling for the Read More button. Quite a few CSS styling 
properties are used to give the button a border, set the border radius, give the button color 
and set the padding accrodingly so that the text contained within the button can be seen clearly. */

.btn {
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
/* The .btn:hover{} contains CSS styling properties for what occurs when the user hovers over the 
button on the webpage. The background-color is set to green and the transition is set to 0.5s ease
-in-out so that when the user hovers over the button there is a very slight delay and then the button 
appears green to emphasise to the the user that clicking the button will direct them to a link containing 
more information. */ 
  
.btn:hover {
    background-color: green;
    transition: 0.5s ease-in-out;
  }
  
  
