/*build the webpage structure for Variant.html*/

/*the font size and position for the description of feature viewer */
#titleviewer {
    font-size: 30px;
    position: absolute;
    margin-left:260px;
    margin-top:700px;
    width: 1600px;
}
/*the figure size and position for feature viewer */
.featureViewerApp{
	position: absolute;
	margin-top: 750px;
	margin-left: 200px;
        width: 1600px;
        height: 500px;}

/*the font size and position for the description of D614G variant */
#title {
    font-size: 25px;
    position: absolute;
    width: 1300px;
    margin-left:350px;
    margin-top:150px;
}
/*the font size and position for the title */
#title1 {
    font-size: 35px;
    position: absolute;
    margin-left:830px;
    margin-top:80px;
     width: 1600px;
}
/*the position for the "click.jpg" image */
img{
     position: absolute;
    margin-left:500px;
    margin-top:550px;
}
/*the colour, position, list style and font size for the button that links to show structure  */
ul1{
   
    position: absolute;
    margin-left:550px;
    margin-top:500px;
    font-size: 25px;
     width: 1600px;
  }
ul1 li{
    
    list-style:circle;
    color: #4D4DFF; 
  }
/*the font size, position for the title of G variant table */
.G-table-link h3 {

    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/*the size, position for the button of G variant table */
.G-table-link .btn {

    text-align: center;
    padding: 10px;
    width: 200px;
    font-size: 20px;
}


